<!-- <h1>{{h1}}</h1>
<div class="container">
  <div class="box">Hello, {{ name }}!</div>
</div>
<footer class="copyright">&copy; {{footer}}</footer> -->

<!-- TODO: Class vs Method Variables (Класс против переменных метода) -->
<!-- <h1>{{ h1 }}</h1>
<div class="container">
  <div class="box">{{ speak() }}!</div>
</div>
<footer class="copyright">&copy; {{ footer }}</footer> -->

<!-- TODO: Iterating through String Arrays (Итерация по массивам строк) -->
<!-- <h1>{{ h1 }}</h1>

<div class="container">
  <div class="box">
    <div *ngFor="let color of colors">
      {{ color }}
    </div>
  </div>
</div>

<footer class="copyright">&copy; {{ footer }}</footer> -->

<!-- TODO: Iterating with Indices (Итерация с индексами) -->
<!-- <h1>{{ h1 }}</h1>

<div class="container">
  <div class="box">
    <div *ngFor="let fruit of fruits; let i = index">
      Fruit {{ i }} is {{ fruit }}
    </div>
  </div>
</div>

<footer class="copyright">&copy; {{ footer }}</footer> -->

<!-- TODO: Iterating through Custom Types (Перебор пользовательских типов) -->
<!-- <div>
  <div *ngFor="let car of cars">
    {{ car.make }} {{ car.model }} with a mileage of {{ car.miles }}
  </div>
</div> -->

<!-- TODO: Import Interface into a Service (Импорт интерфейса в сервис) -->
<!-- <div>
  <p>this is where will will eventually loop through our car types.</p>
  <div *ngFor="let car of cars"></div>
</div> -->

<!-- TODO: Recreating Car Array in a Service (Воссоздание массива автомобилей в сервисе) -->
<!-- <div>
  <p>this is where will will eventually loop through our car types.</p>

  <!-- this loop doesn't run because we don't have an array yet
 in the component -->
<!-- <div *ngFor="let car of cars" >
    We have a {{ car.make }} {{ car.model }} with a mileage of {{ car.miles }}
  </div>
</div> -->

<!-- TODO: Dependency Injection (Внедрение зависимости) -->
<!-- <div>
  <div *ngFor="let car of cars">
    <p>
      We have a {{ car.make }} {{ car.model }} with a mileage of {{ car.miles }}
    </p>
  </div>
  <br/><br/><br/>
  <div *ngFor="let bike of bikes">
    <p>
      We have a {{ bike.make }} {{ bike.model }} with a mileage of
      {{ bike.miles }}
    </p>
  </div>
</div> -->

<!-- TODO: Event Binding (Привязка событий) -->
<!-- <div class="container">
  <button (click)="saySomething()">Say something</button>
</div> -->

<!-- TODO: Making a Counter (Создание счетчика) -->
<!-- <div class="container">
  <div class="number-display">
    {{ counter }}
  </div>
  <button (click)="increment()">increment</button>
</div> -->

<!-- TODO: Event Updating a String (Событие, обновляющее строку) -->
<!-- <div class="container">
  <div class="display">
    {{ phrase }}
  </div>
  <button (click)="update()">click me</button>
</div> -->

<!-- TODO: ngModel (Angular Модель) -->
<!-- <h1><u>Two Way Data Bind</u></h1>
<div class="container">
  <p>COMPONENT:</p>
  <div class="display">
    {{ username }}
  </div>
  <p>VIEW:</p>
  <input [(ngModel)]="username" placeholder="enter text" />
</div> -->

<!-- TODO: Sending Hard Coded Data to a Service (Отправка жестко закодированных данных в сервис) -->
<!-- <h1>Sending Hard Coded Data to a Service</h1>
<div>
  <div *ngFor="let car of cars">
    <p>
      We have a {{ car.make }} {{ car.model }} with a mileage of {{ car.miles }}
    </p>
  </div>
  <button (click)="addCar()">add Car</button>

  <br /><br /><br />
  <div *ngFor="let bike of bikes">
    <p>
      We have a {{ bike.make }} {{ bike.model }} with a mileage of
      {{ bike.miles }}
    </p>
  </div>
  <button (click)="addBike()">add Bike</button>
</div> -->

<!-- TODO: Sending Dynamic Data to a Service (Отправка динамических данных в сервис) -->
<h1>Sending Dynamic Data to a Service</h1>
<h3>Cars:</h3>
<div>
  <div *ngFor="let car of cars">
    <p>
      We have a {{ car.make }} {{ car.model }} with a mileage of {{ car.miles }}
    </p>
  </div>
  <h3>Bikes:</h3>
  <div *ngFor="let bike of bikes">
    <p>
      We have a {{ bike.make }} {{ bike.model }} with a mileage of
      {{ bike.miles }}
    </p>
  </div>
  <h3>ngModels:</h3>
  <div>
    <input [(ngModel)]="make" placeholder="make" />
    <input [(ngModel)]="model" placeholder="model" />
    <input type="number" [(ngModel)]="miles" placeholder="miles" />
  </div>
  <h3>Когда вы вводите марку, модель, пробег и нажимаете кнопку, данные отправляются в наш поток данных и обновляются в сервисе, который затем обновляет view:</h3>
  <button (click)="addCar()">add Car</button>
  <button (click)="addBike()">add Bike</button>
</div>
