/* h1 {
  width: 100vw;
  height: min-content;
  text-align: center;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #f2c983;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .box {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #f2e583;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 1px 1px 1px grey;
}

.copyright {
  width: 100vw;
  background-color: #f2c983;
  color: #595959;
  height: min-content;
  text-align: center;
  padding-bottom: 20px;
} */

/* TODO: Iterating through String Arrays (Итерация по массивам строк) */
/* h1 {
  width: 100vw;
  height: min-content;
  text-align: center;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #f2c983;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .box{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #f2e583;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 1px 1px 1px  grey;

}
.copyright {
  width: 100vw;
  background-color: #f2c983;
  color: #595959;
  height: min-content;
  text-align: center;
  padding-bottom: 20px;
} */

/* TODO: Iterating with Indices (Итерация с индексами) */
/* h1 {
  width: 100vw;
  height: min-content;
  text-align: center;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #f2c983;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .box {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #f2e583;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  box-shadow: 1px 1px 1px grey;
  font-family: Lato;
  font-size: 24px;
  font-weight: 600;
  color: blue;
}
.copyright {
  width: 100vw;
  background-color: #f2c983;
  color: #595959;
  height: min-content;
  text-align: center;
  padding-bottom: 20px;
} */

/* TODO: Iterating through Custom Types (Перебор пользовательских типов) */
/* p {
  font-family: Lato;
} */

/* TODO: Import Interface into a Service (Импорт интерфейса в сервис) */
/* p {
  font-family: Lato;
  color: blue;
  background-color: antiquewhite;
  font-size: 18px;
  font-weight: 500;
  padding-left: 20px;
} */

/* TODO: Event Binding (Привязка событий) */
/* .container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  padding: 5px;
}

button {
  width: auto;
  height: 45px;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: darkorange;
  color: green;
  border-radius: 10px;
}
button:hover {
  width: auto;
  height: 45px;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: chocolate;
  color: rgb(1, 30, 1);
  border-radius: 10px;
} */

/* TODO: Making a Counter (Создание счетчика) */
/* .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  padding: 5px;
}

button {
  width: auto;
  height: 45px;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: darksalmon;
  color: black;
  border-radius: 10px;
}

button:hover {
  background-color: chocolate;
  color: rgb(11, 19, 11);
  border-radius: 10px;
}

.number-display {
  font-size: 3em;
} */

/* TODO: Event Updating a String (Событие, обновляющее строку) */
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  padding: 5px;

}

button {
  width: auto;
  height: 2.0em;
  font-size: 3.0em;
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: gold;
  color: black;
  border-radius: 10px;
  border: 1mm solid black;
  margin-top: 20px;
}

button:hover {
  background-color: rgb(224, 192, 8);
  color: rgb(11, 19, 11);
  border-radius: 10px;
}

.display {
  font-size: 3.0em;
}
